.carousel {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.carousel-v1-image {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-v1-image > picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width:none;
}

.carousel picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.carousel img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
