.menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

.menu > ul > li {
  border: 1px solid var(--highlight-background-color);
  background-color: var(--overlay-background-color);
  cursor: pointer;
  color: rgb(0,0,255);
  font: italic small-caps bold 15px/30px Georgia, serif;
  text-decoration: underline;
}

.menu > div {
  border: 1px solid var(--highlight-background-color);
  background-color: #ff0000
}

.menu .menu-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.menu .menu-body > *:first-child {
  margin-top: 0;
}

.menu > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
